.font-size-nav-links{
    font-size: large;
}

a.nav-link:hover{
    border-bottom: 2px solid #ff9121;
}

a.nav-link{
    border-bottom: 2px solid transparent;
}

a.nav-link:hover svg{
    color: orangered;
}